.hero {
  z-index: 1;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
}
.hero,
.hero-cover {
  position: fixed;
  height: 25vw;
  width: 94.2vw;
  right: 0;
}

.hero img {
  position: fixed;
  right: 0;
  height: 24vw;
  width: 60vw;
  object-fit: cover;
  object-position: top;
  transition: 0.75s ease-in-out;

  -webkit-mask-image: -webkit-gradient(
    linear,
    left 80%,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.hero-cover {
  background-color: black;
  z-index: 1;
}

.transition {
  -webkit-animation: crossFade 0.4s forwards;
  animation: crossFade 0.4s forwards;
}
.metadata-container {
  position: fixed;
  width: 32vw;
  margin: 1vw;
  color: #ffffff;
}

.title {
  display: -webkit-box;
  font-size: 3vw;
  font-weight: 550;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  display: -webkit-box;
  margin-top: 1vw;
  max-height: 10vw;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@keyframes crossFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
