.basic-card {
  position: relative;
  height: 16.020833333333vw;
  width: 10.375vw;
  margin-left: 0.520833vw;
  border-radius: 15px;
  object-fit: cover;
  border: 0.25vw solid transparent;
  transition: 0.1s ease;
}

.basic-card:focus {
  border: 0.25vw solid rgb(238, 224, 224);
  transform: scale(1.1);
  outline: none;
  z-index: 1;
}
