.sidebar {
  position: fixed;
  height: 100vh;
  width: 5.5vw;
  background-color: black;
  overflow: hidden;
  border-right: solid 0.25vw #ffffff;
  transition: 0.2s ease-in-out;
  z-index: 5;
}

.sidebar:focus-within {
  width: 15vw;
}

.sidebar-items-container {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
}

.sidebar-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 2vw;

  margin-left: 0.75vw;
  border-left: solid 0.5vw red;
  padding: 1vw;

  outline: none;
  transition: 0.2s ease-in-out;
}

.sidebar-item:focus {
  font-weight: 600;
  border-left: solid 0.75vw white;
}

.icon {
  position: fixed;
  height: 1.5vw;
  width: 1.5vw;
  background-color: #ffffff;
  border-radius: 50%;
}

.sidebar-item-title {
  margin-left: 3.5vw;
}
